* {
    cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="24" width="24" viewBox="0 0 24 24"><circle cx="12" cy="12" r="8" fill="white"/></svg>'), auto;
  }
  
  body {
    font-family: 'Roboto Slab', serif;
  }
  header {
    font-family: 'Roboto Slab', serif;
  }
  
  .nav-link {
    position: relative;
  }
  
  .nav-link:hover {
  cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="24" width="24" viewBox="0 0 24 24"><circle cx="12" cy="12" r="8" fill="yellow"/></svg>'), auto;
  }
  
  .nav-link::after {
    content: '';
    position: absolute;
    bottom: 2px; /* Ubica el subrayado debajo del texto */
    left: 0;
    width: 0;
    border-bottom: 2px solid transparent; /* Empieza con un subrayado transparente */
    transition: width 0.5s; /* Transición de la anchura para crear el efecto de subrayado */
  }
  
  .nav-link:hover::after {
    width: 100%; /* Anima la anchura para crear el subrayado */
    border-bottom-color: yellow; /* Cambia el color del subrayado al hacer hover */
  }
  
  
  
  .header-blue {
      background: rgb(1, 1, 180);
      padding-bottom: 3px;
      font-family: 'Roboto Slab', serif;
    }
    
    @media (min-width:768px) {
      .header-blue {
        padding-bottom: 1px;
      }
    }
    
    .header-blue .navbar {
      background: transparent;
      padding-top: .75rem;
      padding-bottom: .75rem;
      color: #ffffff;
      border-radius: 0;
      box-shadow: none;
      border: none;
    }
    
    @media (min-width:768px) {
      .header-blue .navbar {
        padding-top: 1rem;
        padding-bottom: 1rem;
      }
    }
    
    .header-blue .navbar .navbar-brand {
      font-weight: bold;
      color: inherit;
    }
    
    .header-blue .navbar .navbar-brand:hover {
      color: #000000;
    }
    
    .header-blue .navbar .navbar-collapse {
      border-top: 0px;
      margin-top: .5rem;
      margin-left: 20px;
    }
  
    .header-blue .navbar .container-fluid .navbar-brand img{
      width: 250px; /* Cambia el valor según el tamaño deseado en píxeles */
      display: block;
      margin: 0 auto;
    }
    
    @media (min-width:768px) {
      .header-blue .navbar .navbar-collapse {
        border-color: transparent;
        margin-top: .5rem;
        margin-left: 20px;
      }
    }
    
    .header-blue .navbar .navbar-collapse span .login {
      color: #ffffff;
      margin-right: .5rem;
      text-decoration: none;
    }
    
    .header-blue .navbar .navbar-collapse span .login:hover {
      color: #ffffff;
    }
    
    .header-blue .navbar .navbar-toggler {
      border-color: rgb(255, 255, 255);
    }
    
    .header-blue .navbar .navbar-toggler:hover, .header-blue .navbar-toggler:focus {
      background: none;
    }
    
    @media (min-width: 768px) {
      .header-blue .navbar-nav .nav-link {
        padding-left: .7rem;
        padding-right: .7rem;
      }
    }
    
    @media (min-width: 992px) {
      .header-blue .navbar-nav .nav-link {
        padding-left: 1.2rem;
        padding-right: 1.2rem;
      }
    }
    
    .header-blue .navbar.navbar-light .navbar-nav .nav-link {
      color: #ffffff;
    }
    
    .header-blue .navbar.navbar-light .navbar-nav .nav-link:focus, .header-blue .navbar.navbar-light .navbar-nav .nav-link:hover {
      color: #ffffff;
      background-color: transparent;
    }
    
    .header-blue .navbar .navbar-nav > li > .dropdown-menu {
      margin-top: -5px;
      box-shadow: 0 4px 8px rgba(0,0,0,.1);
      background-color: #ffffff;
      border-radius: 2px;
    }
    
    .header-blue .navbar .dropdown-menu .dropdown-item:focus, .header-blue .navbar .dropdown-menu .dropdown-item {
      line-height: 2;
      color: #ffffff;
    }
  
    
    .header-blue .action-button, .header-blue .action-button:not(.disabled):active {
      border: 1px solid rgb(255, 255, 255);
      border-radius: 40px;
      color: #ffffff;
      box-shadow: none;
      text-shadow: none;
      padding: .3rem .8rem;
      background: transparent;
      transition: background-color 0.25s;
      outline: none;
    }
   
    
    .header-blue .navbar .form-inline label {
      color: #ffffff;
    }
    
    .header-blue .navbar .form-inline .search-field {
      display: inline-block;
      width: 80%;
      background: none;
      border: none;
      border-bottom: 1px solid transparent;
      border-radius: 0;
      color: #ffffff;
      box-shadow: none;
      color: inherit;
      transition: border-bottom-color 0.3s;
    }
    
    .header-blue .navbar .form-inline .search-field:focus {
      border-bottom: 1px solid #ffffff;
    }
    
    .header-blue .hero {
      margin-top: 20px;
      text-align: center;
    }
  
    .navbar-toggler .bi-asterisk {
      fill: #ffffff; /* Cambia este valor al color blanco que desees */
    }
    
  
    @media (min-width:768px) {
      .header-blue .hero {
        margin-top: 60px;
        text-align: left;
      }
    }
    
    .header-blue .hero h1 {
      color: #ffffff;
      font-size: 40px;
      margin-top: 0;
      margin-bottom: 15px;
      font-weight: 300;
      line-height: 1.4;
    }
    
    @media (min-width:992px) {
      .header-blue .hero h1 {
        margin-top: 190px;
        margin-bottom: 24px;
        line-height: 1.2;
      }
    }
    
    .header-blue .hero p {
      color: rgba(255, 255, 255, 0.8);
      font-size: 20px;
      margin-bottom: 30px;
      font-weight: 300;
    }





    /* codigo galeía Selina */
    @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
    margin: 0;
    background-color: #000;
    color: #eee;
    font-family: Poppins;
    font-size: 12px;
}

a{
    text-decoration: none;
}


/* carousel */
.carousel{
    height: 100vh;
    margin-top: -50px;
    width: 100vw;
    overflow: hidden;
    position: relative;
}

.carousel .list .item{
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0 0 0 0;
}

.carousel .list .item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel .list .item .content{
    position: absolute;
    top: 20%;
    width: 1140px;
    max-width: 80%;
    left: 50%;
    transform: translateX(-50%);
    padding-right: 30%;
    box-sizing: border-box;
    color: #fff;
    text-shadow: 0 5px 10px #0004;
}

.carousel .list .item .author{
    font-weight: bold;
    letter-spacing: 10px;
}

.carousel .list .item .title,
.carousel .list .item .topic{
    font-size: 5em;
    font-weight: bold;
    line-height: 1.3em;
}

.carousel .list .item .topic{
    color: #f1683a;
}

.carousel .list .item .buttons{
    display: grid;
    grid-template-columns: repeat(2, 130px);
    grid-template-rows: 40px;
    gap: 5px;
    margin-top: 20px;
}

.carousel .list .item .buttons button{
    border: none;
    background-color: #eee;
    letter-spacing: 3px;
    font-family: Poppins;
    font-weight: 500;
}

.carousel .list .item .buttons button:nth-child(2){
    background-color: transparent;
    border: 1px solid #fff;
    color: #eee;
}

/* diseño */
.thumbnail{
    position: absolute;
    bottom: 50px;
    left: 50%;
    width: max-content;
    z-index: 100;
    display: flex;
    gap: 20px;
}

.thumbnail .item{
    width: 150px;
    height: 220px;
    flex-shrink: 0;
    position: relative;
}

.thumbnail .item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.thumbnail .item .content{
    color: #fff;
    position: absolute;
    bottom: 10px;
    left: 10px;
    right: 10px;
}

.thumbnail .item .content .title{
    font-weight: 500;
}

.thumbnail .item .content .description{
    font-weight: 300;
}

/* flechas de la presentación */
.arrows{
    position: absolute;
    top: 80%;
    right: 52%;
    z-index: 100;
    width: 300px;
    max-width: 30%;
    display: flex;
    gap: 10px;
    align-items: center;
}

.arrows button{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #eee4;
    border: none;
    color: #fff;
    font-family: monospace;
    font-weight: bold;
    transition: .5s;
}

.arrows button:hover{
    background-color: #fff;
    color: #000;
}

/* animación */
.carousel .list .item:nth-child(1){
    z-index: 1;
}

/* animación del texto*/

.carousel .list .item:nth-child(1) .content .author,
.carousel .list .item:nth-child(1) .content .title,
.carousel .list .item:nth-child(1) .content .topic,
.carousel .list .item:nth-child(1) .content .des,
.carousel .list .item:nth-child(1) .content .buttons

{
    transform: translateY(50px);
    filter: blur(20px);
    opacity: 0;
    animation: showContent .5s 1s linear 1 forwards;
}

@keyframes showContent{
    to{
        transform: translateY(0px);
        filter: blur(0px);
        opacity: 1;
    }
}

.carousel .list .item:nth-child(1) .content .title{
    animation-delay: 1.2s!important;
}

.carousel .list .item:nth-child(1) .content .topic{
    animation-delay: 1.4s!important;
}

.carousel .list .item:nth-child(1) .content .des{
    animation-delay: 1.6s!important;
}

.carousel .list .item:nth-child(1) .content .buttons{
    animation-delay: 1.8s!important;
}

/* click */
.carousel.next .list .item:nth-child(1) img{
    width: 150px;
    height: 220px;
    position: absolute;
    bottom: 50px;
    left: 50%;
    border-radius: 30px;
    animation: showImage .5s linear 1 forwards;
}

@keyframes showImage{
    to{
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 0;
    }
}

.carousel.next .thumbnail .item:nth-last-child(1){
    overflow: hidden;
    animation: showThumbnail .5s linear 1 forwards;
}

.carousel.prev .list .item img{
    z-index: 100;
}

@keyframes showThumbnail{
    from{
        width: 0;
        opacity: 0;
    }
}

.carousel.next .thumbnail{
    animation: effectNext .5s linear 1 forwards;
}

@keyframes effectNext{
    from{
        transform: translateX(150px);
    }
}

/* carrusel de tiempo */
.carousel.next .time,
.carousel.prev .time{
    animation: runningTime 3s linear 1 forwards;
}

@keyframes runningTime{
    from{ width: 100%}
    to{width: 0}
}


/* click (imagen previa) */

.carousel.prev .list .item:nth-child(2){
    z-index: 2;
}

.carousel.prev .list .item:nth-child(2) img{
    animation: outFrame 0.5s linear 1 forwards;
    position: absolute;
    bottom: 0;
    left: 0;
}

@keyframes outFrame{
    to{
        width: 150px;
        height: 220px;
        bottom: 50px;
        left: 50%;
        border-radius: 20px;
    }
}

.carousel.prev .thumbnail .item:nth-child(1){
    overflow: hidden;
    opacity: 0;
    animation: showThumbnail .5s linear 1 forwards;
}

.carousel.next .arrows button,
.carousel.prev .arrows button{
    pointer-events: none;
}

.carousel.prev .list .item:nth-child(2) .content .author,
.carousel.prev .list .item:nth-child(2) .content .title,
.carousel.prev .list .item:nth-child(2) .content .topic,
.carousel.prev .list .item:nth-child(2) .content .des,
.carousel.prev .list .item:nth-child(2) .content .buttons
{
    animation: contentOut 1.5s linear 1 forwards!important;
}

@keyframes contentOut{
    to{
        transform: translateY(-150px);
        filter: blur(20px);
        opacity: 0;
    }
}

@media screen and (max-width: 678px) {
    .carousel .list .item .content{
        padding-right: 0;
    }
    .carousel .list .item .content .title{
        font-size: 30px;
    }
}
    
    